@font-face {
    font-family: 'Arial Regular';
    src: url('../fonts/Arial.eot');
    src: url('../fonts/Arial.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial.woff2') format('woff2'),
    url('../fonts/Arial.woff') format('woff'),
    url('../fonts/Arial.ttf') format('truetype'),
    url('../fonts/Arial.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Bold';
    src: url('../fonts/Arial-Bold.eot');
    src: url('../fonts/Arial-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arial-Bold.woff2') format('woff2'),
    url('../fonts/Arial-Bold.woff') format('woff'),
    url('../fonts/Arial-Bold.ttf') format('truetype'),
    url('../fonts/Arial-Bold.svg#Arial-BoldMT') format('svg');
    font-weight: bold;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.header {
    &__img {
        float: left;
    }
    &__name {
        & h1 {
            font-family: 'Arial Bold';
            font-size: 16px;
        }
    }
    &__subname {
        & p {
            font-family: 'Arial Regular';
            font-size: 12px;
            color: #9d9d9d;
        }
    }
    &__desc {
        background-color: #fffbc8;
        border: 1px solid #cecabf;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
            width: 360px;
    padding-left: 50px;
        & p {
            font-family: 'Arial Regular';
            font-size: 14px;
        }
    }
}